body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #C7F7F0;
    border-radius: 15px;
}

.logo {
    width: 120px;
    height: 120px;
    margin-bottom: 20px;
}

.form-container {
    border-radius: 16px;
    background: #FFF;
    width: 437px;
    height: auto; 
    flex-shrink: 0;
    text-align: center;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    text-align: left;
    border-radius: 15px;
}

label {
    margin-bottom: 5px;
    font-weight: bold;
}

input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #28a745;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #218838;
}

h2 {
    margin-bottom: 20px;
    color: #333;
}

p {
    margin-top: 15px;
}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}